body
{
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}
.gridcontainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48.8vh 48.8vh;
}
.gridItem1
{
    
    border: 10px solid;
    border-image: linear-gradient(45deg, purple, orange) 1;
    grid-row: 1/3;
    border-radius: 4em;
}
.gridItem1:hover
{
    border-image: linear-gradient(45deg, orange, purple) 1;
    transition: 300ms;
}
.gridItem1:hover::after
{
    border-image: linear-gradient(45deg, purple, orange) 1;
    transition: 300ms;
}
h2
{
    margin-top: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 44px;
}
.content
{
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 23px;
}
.gridItem2
{
    background-color: transparent;
    grid-row: 1/3;
    
}
.image
{
    margin-top: 20%;
    margin-left: 35%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-image: url('Images/profile.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.links
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
    margin-top: 30%;
    width: 90%;
    height: 10%;
    margin-left: 5%;
    border-radius: 100px;
    background-color: transparent;
    position: relative;
}
.links > div
{
    
    height: 9%;
    width: 1;
    margin-top: 2.5%;
    margin-left: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.links > div:hover
{
    transform: translateY(-20%);
    transition: 300ms;
}
.githubIcon
{
  background-image: url('Images/github.png'); 
}
.facebookIcon{
  background-image: url('Images/facebook.png');
}
.twitterIcon
{
  background-image: url('Images/twitter.png');
}
.linkedinIcon
{
  background-image: url('Images/linkedin.png');
}
.whatsappIcon
{
  background-image: url('Images/whatsapp.png');
}